@media screen and (max-width: 700px){

  .maincontainer{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(12,1fr);
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
body{
  background-image: url("another.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 75vmin;
  font-size: 21vmin;
  margin: 0px;
  padding: 0px;
}
*{
  font-family: cooper-black-std;
  color: blue;
  -webkit-text-stroke-width: .54vmin;
  -webkit-text-stroke-color: red;
  margin: 0px;
  padding: 0px;
}
p{
  grid-column: 1;
  grid-row: 2 / span 2;
  text-align: center;
}

}
@media screen and (min-width: 700px){

.maincontainer{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(12,1fr);
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
body{
  background-image: url("another.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 49vmin;
  font-size: 16vmin;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  font-family: cooper-black-std;
}
p{
  grid-column: 1;
  grid-row: 2 / span 10;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: .4vmin;
  -webkit-text-stroke-color: red
}
a{

}
}
